<a href="https://colab.research.google.com/github/Jeremias-Ezequiel/Data-Science-Challenge/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# Conociendo el conjunto de datos

In [ ]:
# Verificando la información con respecto a columnas y filas de nuestros data frame
print('Tienda 1: ', tienda.shape)
print('Tienda 2: ', tienda2.shape)
print('Tienda 3: ', tienda3.shape)
print('Tienda 4: ', tienda4.shape)

Tienda 1:  (2359, 12)
Tienda 2:  (2359, 12)
Tienda 3:  (2359, 12)
Tienda 4:  (2358, 12)

In [ ]:
# Verificando la información de columnas y tipos de datos
print("Tienda 1: ")
print(tienda.info())

print("Tienda 2: ")
print(tienda2.info())

print("Tienda 3: ")
print(tienda3.info())

print("Tienda 4: ")
print(tienda4.info())

Tienda 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB
None

In [ ]:
# Verificando si los data frames almacenan valores nulos
print("Tienda 1: ")
print(tienda.isnull().sum())

print("Tienda 2: ")
print(tienda2.isnull().sum())

print("Tienda 3: ")
print(tienda3.isnull().sum())

print("Tienda 4: ")
print(tienda4.isnull().sum())

Tienda 1:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 2:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 3:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 4:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

#1. Análisis de facturación

In [1]:
# Creando una función para obtener el total de cada tienda
def obtener_ingresos(tienda):
  total_ingresos = tienda['Precio'].sum()
  return total_ingresos

In [ ]:
# Obteniendo el ingreso de cada tienda
ingreso_tienda = obtener_ingresos(tienda)
ingreso_tienda2 = obtener_ingresos(tienda2)
ingreso_tienda3 = obtener_ingresos(tienda3)
ingreso_tienda4 = obtener_ingresos(tienda4)

In [ ]:
# Agrupando los datos de ingresos y las tiendas
ingresos_tiendas = [ingreso_tienda,ingreso_tienda2,ingreso_tienda3, ingreso_tienda4]
nombre_tiendas = ['tienda','tienda 2','tienda 3','tienda 4']

In [ ]:
# Creando el dataframe correspondiente a los ingresos
ingresos_df = pd.DataFrame({
    'tienda' : nombre_tiendas,
    'total ingresos' : ingresos_tiendas
})

# Seteando el formato de los flotantes para la vista del data frame
pd.set_option('display.float_format', '{:,.2f}'.format)

print(ingresos_df)

# 2. Ventas por categoría

In [ ]:
# Calculando la cantidad de productos vendidos por categoria

# Creamos una función para obtener una lista de tupla con las categorias y la cantidad de productos vendidos
def obtener_ventas_por_categoria(tienda):
  # Obtenemos las categorias unicas
  categorias = list(set(tienda['Categoría del Producto']))

  lista_de_tuplas = []

  for categoria in categorias:
     cantidad = (tienda['Categoría del Producto'] == categoria).sum()
     lista_de_tuplas.append((categoria,int(cantidad)))

  return lista_de_tuplas

# Creamos una funcion para generar un dataframe con las ventas y el nombre de cada tienda
def crear_dataframe_ventas(ventas_de_tienda,nombre_tienda):
  df = pd.DataFrame(ventas_de_tienda,columns=['Categoria','Cantidad Vendida'])
  return df

--Tienda--
                 Categoria  Cantidad Vendida
6                  Muebles               465
3             Electrónicos               448
7                 Juguetes               324
1        Electrodomésticos               312
0     Deportes y diversión               284
5   Instrumentos musicales               182
4                   Libros               173
2  Artículos para el hogar               171
--Tienda 2--
                 Categoria  Cantidad Vendida
6                  Muebles               442
3             Electrónicos               422
7                 Juguetes               313
1        Electrodomésticos               305
0     Deportes y diversión               275
5   Instrumentos musicales               224
4                   Libros               197
2  Artículos para el hogar               181
--Tienda 3--
                 Categoria  Cantidad Vendida
4                  Muebles               499
2             Electrónicos               451
7                 Juguetes               315
0        Electrodomésticos               278
6     Deportes y diversión               277
3                   Libros               185
1  Artículos para el hogar               177
5   Instrumentos musicales               177
--Tienda 4--
                 Categoria  Cantidad Vendida
4                  Muebles               480
2             Electrónicos               451
7                 Juguetes               338
6     Deportes y diversión               277
0        Electrodomésticos               254
1  Artículos para el hogar               201
3                   Libros               187
5   Instrumentos musicales               170

In [ ]:
# Obtenemos las ventas de cada tienda
ventas_tienda = obtener_ventas_por_categoria(tienda)
ventas_tienda2 = obtener_ventas_por_categoria(tienda2)
ventas_tienda3 = obtener_ventas_por_categoria(tienda3)
ventas_tienda4 = obtener_ventas_por_categoria(tienda4)

In [ ]:
# Obtenemos el data frame de cada tienda
ventas_tienda_df = crear_dataframe_ventas(ventas_tienda,'Tienda')
ventas_tienda_df2 = crear_dataframe_ventas(ventas_tienda2,'Tienda 2')
ventas_tienda_df3 = crear_dataframe_ventas(ventas_tienda3,'Tienda 3')
ventas_tienda_df4 = crear_dataframe_ventas(ventas_tienda4,'Tienda 4')

In [ ]:
# Ordenando las ventas
ventas_tienda_df.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df2.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df3.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df4.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)

# Mostrando las ventas
print("--Tienda--")
print(ventas_tienda_df)

print("--Tienda 2--")
print(ventas_tienda_df2)

print("--Tienda 3--")
print(ventas_tienda_df3)

print("--Tienda 4--")
print(ventas_tienda_df4)

# 3. Calificación promedio de la tienda

In [14]:
# Creando una función para obtener una tupla con el nombre de la tienda y su promedio
def obtener_calificacion_promedio(tienda,nombreTienda):
  return (nombreTienda,float(tienda['Calificación'].mean()))

In [15]:
# Obteniendo la calificación promedio de cada tienda
calificación_tienda1 = obtener_calificacion_promedio(tienda,"Tienda 1")
calificación_tienda2 = obtener_calificacion_promedio(tienda2,"Tienda 2")
calificación_tienda3 = obtener_calificacion_promedio(tienda3,"Tienda 3")
calificación_tienda4 = obtener_calificacion_promedio(tienda4,"Tienda 4")

In [16]:
# Creando una lista con las calificaciónes para transformaro a Data Frame
lista_calificaciones = [
    calificación_tienda1,
    calificación_tienda2,
    calificación_tienda3,
    calificación_tienda4
]

In [17]:
# Creando y mostrando el data frame
df_calificaciones = pd.DataFrame(lista_calificaciones,columns=["Nombre","Calificación"])

print("---Calificaciones promedio por tienda---")
print(df_calificaciones)

---Calificaciones promedio por tienda---
     Nombre  Calificación
0  Tienda 1      3.976685
1  Tienda 2      4.037304
2  Tienda 3      4.048326
3  Tienda 4      3.995759

# 4. Productos más y menos vendidos

In [7]:
# Obteniendo los productos unicos de cada tienda
def obtener_productos_tienda(tienda):
    return list(set(tienda['Producto']))

# Creando un lista con el nombre del producto y la cantida vendida
def obtener_cantidad_productos_vendidos(tienda):
  productos_unicos = obtener_productos_tienda(tienda)
  lista_de_tuplas = []
  for producto in productos_unicos:
     cantidad = (tienda['Producto'] == producto).sum()
     lista_de_tuplas.append((producto,int(cantidad)))

  return lista_de_tuplas

# Creando un dataframe por cada tienda
def crear_dataframe_productos_vendidos(productos_vendidos):
  return pd.DataFrame(productos_vendidos,columns=["Producto","Cantidad"])

In [8]:
# Obteniendo la cantidad de productos vendidos por tienda.
productos_tienda = obtener_cantidad_productos_vendidos(tienda)
productos_tienda2 = obtener_cantidad_productos_vendidos(tienda2)
productos_tienda3 = obtener_cantidad_productos_vendidos(tienda3)
productos_tienda4 = obtener_cantidad_productos_vendidos(tienda4)

In [9]:
# Creando el data frame con las columnas correspondientes
df_ventas_tienda = crear_dataframe_productos_vendidos(productos_tienda)
df_ventas_tienda2 = crear_dataframe_productos_vendidos(productos_tienda2)
df_ventas_tienda3 = crear_dataframe_productos_vendidos(productos_tienda3)
df_ventas_tienda4 = crear_dataframe_productos_vendidos(productos_tienda4)

In [10]:
# Ordenando los valores por cantidad, obteniendo los productos con mas ventas al inicio del data frame
df_ventas_tienda.sort_values(by="Cantidad",ascending=False,inplace=True)
df_ventas_tienda2.sort_values(by="Cantidad",ascending=False,inplace=True)
df_ventas_tienda3.sort_values(by="Cantidad",ascending=False,inplace=True)
df_ventas_tienda4.sort_values(by="Cantidad",ascending=False,inplace=True)

print("--TIENDA 1 --")
print(df_ventas_tienda)
print("--TIENDA 2 --")
print(df_ventas_tienda2)
print("--TIENDA 3 --")
print(df_ventas_tienda3)
print("--TIENDA 4 --")
print(df_ventas_tienda4)

--TIENDA 1 --
                       Producto  Cantidad
6                    Microondas        60
16                TV LED UHD 4K        60
22                      Armario        60
30             Secadora de ropa        58
32      Bloques de construcción        56
21                Mesa de noche        56
38          Balón de baloncesto        55
43                 Refrigerador        54
36                    Impresora        54
25                    Bicicleta        54
1                  Vaso térmico        54
17                      Batería        53
8                    Cubertería        52
19    Carrito de control remoto        52
13          Modelado predictivo        51
41                  Auriculares        50
35            Ajedrez de madera        49
46                    Iphone 15        49
14                 Lavavajillas        48
31             Lavadora de ropa        47
3            Guitarra eléctrica        47
5             Guitarra acústica        46
11              Sofá reclinable        46
40             Silla de oficina        46
50                       Estufa        45
42               Mesa de centro        44
10                     Smart TV        44
0                 Kit de bancas        44
44                    Cama king        44
18              Cubo mágico 8x8        44
45                     Cama box        44
15                   Smartwatch        43
2                 Juego de mesa        43
29                 Set de ollas        43
4       Dashboards con Power BI        42
9             Balón de voleibol        42
39                  Tablet ABXY        42
24                 Set de vasos        41
23    Iniciando en programación        41
27                       Sillón        41
47           Cuerda para saltar        40
37               Dinosaurio Rex        40
20              Mesa de comedor        40
28                  Muñeca bebé        40
34            Asistente virtual        40
48  Ciencia de datos con Python        39
49                      Mochila        39
7                     Pandereta        36
12              Olla de presión        35
33    Auriculares con micrófono        33
26                 Celular ABXY        33
--TIENDA 2 --
                       Producto  Cantidad
22    Iniciando en programación        65
7                    Microondas        62
17                      Batería        61
4             Guitarra acústica        58
5                     Pandereta        58
30             Secadora de ropa        57
46                    Iphone 15        55
32      Bloques de construcción        54
19                      Armario        54
29                 Set de ollas        52
47           Cuerda para saltar        50
31             Lavadora de ropa        49
43                 Refrigerador        49
40             Silla de oficina        49
28                  Muñeca bebé        48
45                     Cama box        47
3            Guitarra eléctrica        47
1                  Vaso térmico        47
21    Carrito de control remoto        47
9             Balón de voleibol        46
24                 Set de vasos        46
13          Modelado predictivo        46
14                 Lavavajillas        46
42               Mesa de centro        45
41                    Cama king        45
25                    Bicicleta        45
16                TV LED UHD 4K        45
0                 Kit de bancas        45
18              Cubo mágico 8x8        45
49                      Mochila        45
34            Ajedrez de madera        45
12              Olla de presión        44
11              Sofá reclinable        44
15                   Smartwatch        44
39                  Tablet ABXY        44
23                Mesa de noche        44
33    Auriculares con micrófono        44
48  Ciencia de datos con Python        43
6       Dashboards con Power BI        43
50                       Estufa        42
38          Balón de baloncesto        42
35               Dinosaurio Rex        42
26                 Celular ABXY        41
10                     Smart TV        40
8                    Cubertería        39
36            Asistente virtual        38
44                  Auriculares        37
27                       Sillón        35
20              Mesa de comedor        34
37                    Impresora        34
2                 Juego de mesa        32
--TIENDA 3 --
                       Producto  Cantidad
0                 Kit de bancas        57
43                    Cama king        56
22              Mesa de comedor        56
19                Mesa de noche        55
29                 Set de ollas        55
10                     Smart TV        54
47           Cuerda para saltar        53
50                       Estufa        53
13          Modelado predictivo        53
14                 Lavavajillas        52
2                 Juego de mesa        52
21    Carrito de control remoto        52
25                    Bicicleta        52
5                     Pandereta        51
38          Balón de baloncesto        50
34                    Impresora        50
44                 Refrigerador        50
20                      Armario        49
9             Balón de voleibol        48
39                  Tablet ABXY        48
36            Ajedrez de madera        47
12              Olla de presión        47
4             Guitarra acústica        47
27                       Sillón        47
45                     Cama box        46
46                    Iphone 15        46
23    Iniciando en programación        46
35               Dinosaurio Rex        46
15                   Smartwatch        46
48  Ciencia de datos con Python        46
40             Silla de oficina        46
11              Sofá reclinable        45
30             Secadora de ropa        45
26                 Celular ABXY        44
18              Cubo mágico 8x8        44
41                  Auriculares        43
31             Lavadora de ropa        42
16                TV LED UHD 4K        42
42               Mesa de centro        42
17                      Batería        41
6       Dashboards con Power BI        40
28                  Muñeca bebé        39
8                    Cubertería        39
37            Asistente virtual        39
32    Auriculares con micrófono        39
1                  Vaso térmico        38
3            Guitarra eléctrica        38
7                    Microondas        36
24                 Set de vasos        36
49                      Mochila        36
33      Bloques de construcción        35
--TIENDA 4 --
                       Producto  Cantidad
45                     Cama box        62
8                    Cubertería        59
4       Dashboards con Power BI        56
42                    Cama king        56
19                Mesa de noche        55
20              Mesa de comedor        55
21    Carrito de control remoto        55
33      Bloques de construcción        54
10                     Smart TV        54
5                     Pandereta        52
13          Modelado predictivo        50
34                    Impresora        50
29                 Set de ollas        50
38          Balón de baloncesto        50
36            Asistente virtual        50
17                      Batería        48
7                    Microondas        48
1                  Vaso térmico        48
2                 Juego de mesa        48
28                  Muñeca bebé        48
9             Balón de voleibol        48
46                    Iphone 15        48
18              Cubo mágico 8x8        47
50                       Estufa        47
35               Dinosaurio Rex        47
11              Sofá reclinable        47
12              Olla de presión        46
24                 Set de vasos        46
39                  Tablet ABXY        45
26                    Bicicleta        45
27                       Sillón        45
40                  Auriculares        44
44               Mesa de centro        44
49                      Mochila        43
14                 Lavavajillas        43
47           Cuerda para saltar        43
22    Iniciando en programación        43
0                 Kit de bancas        42
32    Auriculares con micrófono        42
41             Silla de oficina        40
30             Secadora de ropa        40
16                TV LED UHD 4K        40
15                   Smartwatch        39
25                 Celular ABXY        39
37            Ajedrez de madera        39
43                 Refrigerador        38
31             Lavadora de ropa        38
48  Ciencia de datos con Python        38
6             Guitarra acústica        37
23                      Armario        34
3            Guitarra eléctrica        33

# 5. Envío promedio por tienda

In [11]:
# CALCULAR EL COSTO DE ENVIO PROMEDIO PARA CADA TIENDA. EL OBJETIVO ES COMPRENDER CUANTO SE GASTA EN EL ENVIO DE CADA TIENDA

In [20]:
# Creando una función para obtener el promedio de costo en envios por tienda
def obtener_costo_envios_promedio(tienda,nombreTienda):
  return (nombreTienda,tienda['Costo de envío'].mean())

In [21]:
# Obteniendo el costo promedio de envios de cada tienda
costo_envios_tienda = obtener_costo_envios_promedio(tienda,"Tienda 1")
costo_envios_tienda2 = obtener_costo_envios_promedio(tienda2,"Tienda 2")
costo_envios_tienda3 = obtener_costo_envios_promedio(tienda3, "Tienda 3")
costo_envios_tienda4 = obtener_costo_envios_promedio(tienda4, "Tienda 4")

In [22]:
# Agrupando las tuplas en un arreglo
costo_de_envios = [
    costo_envios_tienda,
    costo_envios_tienda2,
    costo_envios_tienda3,
    costo_envios_tienda4
]

# Creando el data frame con las columnas correspondientes
df_envios = pd.DataFrame(costo_de_envios,columns=["Nombre de Tienda","Costo de envio promedio"])

print(df_envios)

  Nombre de Tienda  Costo de envio promedio
0         Tienda 1             26018.609580
1         Tienda 2             25216.235693
2         Tienda 3             24805.680373
3         Tienda 4             23459.457167