<a href="https://colab.research.google.com/github/Jeremias-Ezequiel/Data-Science-Challenge/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# Conociendo el conjunto de datos

In [ ]:
# Verificando la información con respecto a columnas y filas de nuestros data frame
print('Tienda 1: ', tienda.shape)
print('Tienda 2: ', tienda2.shape)
print('Tienda 3: ', tienda3.shape)
print('Tienda 4: ', tienda4.shape)

Tienda 1:  (2359, 12)
Tienda 2:  (2359, 12)
Tienda 3:  (2359, 12)
Tienda 4:  (2358, 12)

In [ ]:
# Verificando la información de columnas y tipos de datos
print("Tienda 1: ")
print(tienda.info())

print("Tienda 2: ")
print(tienda2.info())

print("Tienda 3: ")
print(tienda3.info())

print("Tienda 4: ")
print(tienda4.info())

Tienda 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
Tienda 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB
None

In [ ]:
# Verificando si los data frames almacenan valores nulos
print("Tienda 1: ")
print(tienda.isnull().sum())

print("Tienda 2: ")
print(tienda2.isnull().sum())

print("Tienda 3: ")
print(tienda3.isnull().sum())

print("Tienda 4: ")
print(tienda4.isnull().sum())

Tienda 1:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 2:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 3:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64
Tienda 4:
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

#1. Análisis de facturación

In [ ]:
# Creando una función para obtener el total de cada tienda
def obtener_ingresos(tienda):
  total_ingresos = tienda['Precio'].sum()
  return total_ingresos

# Obteniendo el ingreso de cada tienda
ingreso_tienda = obtener_ingresos(tienda)
ingreso_tienda2 = obtener_ingresos(tienda2)
ingreso_tienda3 = obtener_ingresos(tienda3)
ingreso_tienda4 = obtener_ingresos(tienda4)

# Agrupando los datos de ingresos y las tiendas
ingresos_tiendas = [ingreso_tienda,ingreso_tienda2,ingreso_tienda3, ingreso_tienda4]
nombre_tiendas = ['tienda','tienda 2','tienda 3','tienda 4']

# Creando el dataframe correspondiente a los ingresos
ingresos_df = pd.DataFrame({
    'tienda' : nombre_tiendas,
    'total ingresos' : ingresos_tiendas
})

# Seteando el formato de los flotantes para la vista del data frame
pd.set_option('display.float_format', '{:,.2f}'.format)

print(ingresos_df)

     tienda   total ingresos
0    tienda 1,150,880,400.00
1  tienda 2 1,116,343,500.00
2  tienda 3 1,098,019,600.00
3  tienda 4 1,038,375,700.00

# 2. Ventas por categoría

In [9]:
# Calculando la cantidad de productos vendidos por categoria

# Creamos una función para obtener una lista de tupla con las categorias y la cantidad de productos vendidos
def obtener_ventas_por_categoria(tienda):
  # Obtenemos las categorias unicas
  categorias = list(set(tienda['Categoría del Producto']))

  lista_de_tuplas = []

  for categoria in categorias:
     cantidad = (tienda['Categoría del Producto'] == categoria).sum()
     lista_de_tuplas.append((categoria,int(cantidad)))

  return lista_de_tuplas

# Creamos una funcion para generar un dataframe con las ventas y el nombre de cada tienda
def crear_dataframe_ventas(ventas_de_tienda,nombre_tienda):
  df = pd.DataFrame(ventas_de_tienda,columns=['Categoria','Cantidad Vendida'])
  return df

# Obtenemos las ventas de cada tienda
ventas_tienda = obtener_ventas_por_categoria(tienda)
ventas_tienda2 = obtener_ventas_por_categoria(tienda2)
ventas_tienda3 = obtener_ventas_por_categoria(tienda3)
ventas_tienda4 = obtener_ventas_por_categoria(tienda4)

# Obtenemos el data frame de cada tienda
ventas_tienda_df = crear_dataframe_ventas(ventas_tienda,'Tienda')
ventas_tienda_df2 = crear_dataframe_ventas(ventas_tienda2,'Tienda 2')
ventas_tienda_df3 = crear_dataframe_ventas(ventas_tienda3,'Tienda 3')
ventas_tienda_df4 = crear_dataframe_ventas(ventas_tienda4,'Tienda 4')

# Ordenando las ventas
ventas_tienda_df.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df2.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df3.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)
ventas_tienda_df4.sort_values(by='Cantidad Vendida',ascending=False,inplace=True)

# Mostrando las ventas
print("--Tienda--")
print(ventas_tienda_df)

print("--Tienda 2--")
print(ventas_tienda_df2)

print("--Tienda 3--")
print(ventas_tienda_df3)

print("--Tienda 4--")
print(ventas_tienda_df4)

--Tienda--
                 Categoria  Cantidad Vendida
6                  Muebles               465
3             Electrónicos               448
7                 Juguetes               324
1        Electrodomésticos               312
0     Deportes y diversión               284
5   Instrumentos musicales               182
4                   Libros               173
2  Artículos para el hogar               171
--Tienda 2--
                 Categoria  Cantidad Vendida
6                  Muebles               442
3             Electrónicos               422
7                 Juguetes               313
1        Electrodomésticos               305
0     Deportes y diversión               275
5   Instrumentos musicales               224
4                   Libros               197
2  Artículos para el hogar               181
--Tienda 3--
                 Categoria  Cantidad Vendida
4                  Muebles               499
2             Electrónicos               451
7                 Juguetes               315
0        Electrodomésticos               278
6     Deportes y diversión               277
3                   Libros               185
1  Artículos para el hogar               177
5   Instrumentos musicales               177
--Tienda 4--
                 Categoria  Cantidad Vendida
4                  Muebles               480
2             Electrónicos               451
7                 Juguetes               338
6     Deportes y diversión               277
0        Electrodomésticos               254
1  Artículos para el hogar               201
3                   Libros               187
5   Instrumentos musicales               170

# 3. Calificación promedio de la tienda

In [19]:
# Creando una función para obtener una tupla con el nombre de la tienda y su promedio
def obtener_calificacion_promedio(tienda,nombreTienda):
  return (nombreTienda,float(tienda['Calificación'].mean()))

calificación_tienda1 = obtener_calificacion_promedio(tienda,"Tienda 1")
calificación_tienda2 = obtener_calificacion_promedio(tienda2,"Tienda 2")
calificación_tienda3 = obtener_calificacion_promedio(tienda3,"Tienda 3")
calificación_tienda4 = obtener_calificacion_promedio(tienda4,"Tienda 4")

# Creando una lista con las calificaciónes para transformaro a Data Frame
lista_calificaciones = [
    calificación_tienda1,
    calificación_tienda2,
    calificación_tienda3,
    calificación_tienda4
]

df_calificaciones = pd.DataFrame(lista_calificaciones,columns=["Nombre","Calificación"])

print("---Calificaciones promedio por tienda---")
print(df_calificaciones)

---Calificaciones promedio por tienda---
     Nombre  Calificación
0  Tienda 1      3.976685
1  Tienda 2      4.037304
2  Tienda 3      4.048326
3  Tienda 4      3.995759

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda